## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [3]:
a = 10
A = 9

10

In [4]:
print(a)
print(A)

10
9

2) Imprimir el tipo de dato de la constante 8.5

In [10]:
type((8,2))

tuple

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [13]:
print(a)

10

4) Crear una variable que contenga tu nombre

In [14]:
mi_var = 'dario'

5) Crear una variable que contenga un número complejo

In [15]:
a = 4 + 1j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [16]:
type(a)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [20]:
pi = 3.141618191613
pi = round(pi, 4)
print(pi)

3.1416

In [21]:
pi = 3.141618191613
print(round(pi, 4))

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [36]:
var1 = 'False'
var2 = True

In [37]:
bool(var1) and var2

True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

10) Asignar a una variable, la suma de un número entero y otro decimal

In [40]:
var = 12 + 2.3
print(var)

14.3

11) Realizar una operación de suma de números complejos

In [42]:
c1 = 1 + 5j
c2 = 3 + 6j
print(c1 + c2)

(4+11j)

12) Realizar una operación de suma de un número real y otro complejo

In [43]:
r1 = 1.2
print(r1 + c1)

(2.2+5j)

13) Realizar una operación de multiplicación

In [46]:
r2 = r1 * 5
type(r2)

float

14) Mostrar el resultado de elevar 2 a la octava potencia

In [47]:
print(2**8)

256

In [48]:
#esto es un comentario

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [49]:
27 / 4

6.75

16) De la división anterior solamente mostrar la parte entera

In [50]:
27 // 4

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [51]:
27 % 4

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [2]:
6 * 4 + 3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [52]:
var1 = 'esto'
print(var1 + ' es ' + 'una prueba')

esto es una prueba

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [53]:
'2' == 2

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [54]:
'2' == str(2)

True

In [55]:
int('2') == 2

True

int(4.2)

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [62]:
a = float('3,8')

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [79]:
a = -3

In [77]:
a = a - 1

In [80]:
a -= 1

In [81]:
print(a)

-4

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [85]:
8 << 2

32

In [86]:
8 * 4

32

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [23]:
2 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [25]:
float(2) + float('2')

4.0

In [26]:
int(2) + int('2')

4

In [27]:
str(2) + str('2')

'22'

26) Realizar una operación válida entre valores de tipo entero y string

In [87]:
'HOLA ' * 3

'HOLA HOLA HOLA '